<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkByteLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LethalMenuAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DarkByteLauncher.Properties.Settings>
            <setting name="AutoInjectDelay" serializeAs="String">
                <value>15</value>
            </setting>
        </DarkByteLauncher.Properties.Settings>
        <LethalMenuAssistant.Properties.Settings>
            <setting name="LCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoInjectDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LMVersion" serializeAs="String">
                <value />
            </setting>
        </LethalMenuAssistant.Properties.Settings>
    </userSettings>
</configuration>